<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header" [routerLinkActive]="['active']"><a class="navbar-brand" [routerLink]="['/home']">ERP
                School</a></div>
        <ul class="nav navbar-nav floatright">
            <li [routerLinkActive]="['active']" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admission
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li [routerLinkActive]="['active']"><a
                            [routerLink]="['/home','admission','admissionform']">Admission
                            Form</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home','admission','schoolfaq']">FAQ's</a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['active']" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parent Corner
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home','parentcorner','parentreg']">Parent
                            Registration</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home','parentcorner','registerec']">Register
                            for
                            Activities</a></li>
                </ul>
            </li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/home','staff','marksentry']">Staff - MarksEntry</a>
            </li>
        </ul>
    </div>
</div>