<h2>FAQS</h2>

<div class="faqcard" appFaqHighlighter="answer">
    <p>How to register for admissions?</p>
    <span class="answer">Ans: Please visit schoolerp.edu and go to admission. Please fill the form with appropriate details.</span>
</div>

<div class="faqcard" appFaqHighlighter="answer">
    <p>How to reach out for further queries?</p>
    <span class="answer">Ans: Mail us at queries@schoolerp.edu </span>
</div>

<div class="faqcard" appFaqHighlighter="addresslist">
    <p>List of branches and locations</p>
    <span class="addresslist">Ans:
        Table with some adresses here
    </span>
</div>

<div class="faqcard" appFaqHighlighter="cuform">
    <p>Contact Us</p>
    <span class="cuform">
        <label>Title</label><br/>
        <input type="text"><br/>
        <label>Description</label><br/>
        <textarea cols="5"></textarea><br/>
        <button type="submit">Submit</button>
    </span>
</div>