<h2>
    School ERP Samples
</h2>
<ul>
    <li>
        <h3>Admissions</h3>
        <ul>
            <li><a href="home/admission/admissionform">Admission Form</a></li>
            <li><a [routerLink]="['/home','admission','schoolfaq']">FAQ's</a></li>
        </ul>
    </li>
    <li>
        <h3>Parent Corner</h3>
        <ul>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/home','parentcorner','parentreg']">Parent
                Registration</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/home','parentcorner','registerec']">Register
                for
                Activities</a></li>
        </ul>
    </li>
    <li>
        <h3>Staff</h3>
        <ul>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/home','staff','marksentry']">Marks Entry</a>
            </li>
        </ul>
    </li>
</ul>
